@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer class="bg-dark text-gray-400 text-center py-4 text-sm">
    <div class="max-w-7xl mx-auto px-4 flex gap-2">
        <p>© Onatrix. All Rights Reserved.</p>
        <p>Credits to <span class="text-secondary font-semibold">Themesflat</span></p>
    </div>
</footer>
