<?xml version="1.0" encoding="utf-8"?>
<Media Key="37a9d58b-2529-44d2-a03a-f52219c2f743" Alias="About us mini image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUsMiniImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T15:10:18</CreateDate>
    <NodeName Default="About us mini image.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pfuaxvjs/about-us-mini-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>