<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a652fe2-ffb1-4bf3-92c7-31d0c970411a" Alias="Advisor.svg" Level="2">
  <Info>
    <Parent Key="a78c9fc6-c015-4b19-a6b9-94b236d4a88d">Details</Parent>
    <Path>/Details/Advisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:27:47</CreateDate>
    <NodeName Default="Advisor.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ccjmp0fk/advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>