<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5c3e560-8ac9-4a05-9070-76736214d5b0" Alias="Assurance.svg" Level="2">
  <Info>
    <Parent Key="a78c9fc6-c015-4b19-a6b9-94b236d4a88d">Details</Parent>
    <Path>/Details/Assurancesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:27:46</CreateDate>
    <NodeName Default="Assurance.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sjmgcf4s/assurance.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>