<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7542c02-1a85-43fd-8c5a-7c87d5e9d103" Alias="Bonds.svg" Level="2">
  <Info>
    <Parent Key="a78c9fc6-c015-4b19-a6b9-94b236d4a88d">Details</Parent>
    <Path>/Details/Bondssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:27:46</CreateDate>
    <NodeName Default="Bonds.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4cipmjm4/bonds.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>