<?xml version="1.0" encoding="utf-8"?>
<Media Key="caf75ce7-6e6a-48f3-a583-27cf09f5fb00" Alias="Brand-6.svg" Level="2">
  <Info>
    <Parent Key="53dfde96-1aa0-4387-b33b-0f24945a0b39">Brands</Parent>
    <Path>/Brands/Brand6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T17:06:58</CreateDate>
    <NodeName Default="Brand-6.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cxqfkkdr/brand-6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>