<?xml version="1.0" encoding="utf-8"?>
<Media Key="9937f839-3e73-4588-93d9-b1f5a6320d4d" Alias="Brand-2.svg" Level="2">
  <Info>
    <Parent Key="53dfde96-1aa0-4387-b33b-0f24945a0b39">Brands</Parent>
    <Path>/Brands/Brand2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T17:06:58</CreateDate>
    <NodeName Default="Brand-2.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zncjk41i/brand-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>