<?xml version="1.0" encoding="utf-8"?>
<Media Key="53dfde96-1aa0-4387-b33b-0f24945a0b39" Alias="Brands" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brands</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-06T17:06:51</CreateDate>
    <NodeName Default="Brands" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties />
</Media>