<?xml version="1.0" encoding="utf-8"?>
<Media Key="13874d23-112a-4aa4-96f5-296301e92997" Alias="Brand-5.svg" Level="2">
  <Info>
    <Parent Key="53dfde96-1aa0-4387-b33b-0f24945a0b39">Brands</Parent>
    <Path>/Brands/Brand5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T17:06:58</CreateDate>
    <NodeName Default="Brand-5.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0hycl2jr/brand-5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>