<?xml version="1.0" encoding="utf-8"?>
<Media Key="e852186e-a3d8-490b-8be1-9d78e2c5ae6b" Alias="Brandon Newton.svg" Level="2">
  <Info>
    <Parent Key="e1f65097-7aec-4766-8f9c-505fa636f1e9">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T14:13:07</CreateDate>
    <NodeName Default="Brandon Newton.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tsspacwd/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>