<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5ec12c9-0158-4b2e-b554-2df151b93b36" Alias="Brand-1.svg" Level="2">
  <Info>
    <Parent Key="53dfde96-1aa0-4387-b33b-0f24945a0b39">Brands</Parent>
    <Path>/Brands/Brand1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T17:06:58</CreateDate>
    <NodeName Default="Brand-1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hoxf2b0d/brand-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>