<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ec4b9ac-3fdb-41dd-818c-3f59543f4155" Alias="Home-Hero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeHerosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T15:23:17</CreateDate>
    <NodeName Default="Home-Hero.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lycgn1ga/home-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>