<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3a11149-ce8b-4614-9d72-8cbfcb1b032c" Alias="kevin-gardner2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardner2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T15:09:02</CreateDate>
    <NodeName Default="kevin-gardner2.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xowagimq/kevin-gardner2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>