<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef7ab959-424f-4ac5-beb3-978c791dd5a6" Alias="Logo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:06:07</CreateDate>
    <NodeName Default="Logo.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vmcnqdku/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>