<?xml version="1.0" encoding="utf-8"?>
<Media Key="7527b312-7df2-4505-895d-307067ce6022" Alias="map 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T15:09:02</CreateDate>
    <NodeName Default="map 1.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2ahilf5j/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>