<?xml version="1.0" encoding="utf-8"?>
<Media Key="a54240f4-7a49-4670-a69d-8ac25b696dd8" Alias="Miranda.svg" Level="2">
  <Info>
    <Parent Key="e1f65097-7aec-4766-8f9c-505fa636f1e9">Team Members</Parent>
    <Path>/TeamMembers/Mirandasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T14:13:08</CreateDate>
    <NodeName Default="Miranda.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a14par0s/miranda.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>