<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8609af5-97a1-42ce-8ee0-a646a7e8b72f" Alias="next-project-dot.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/nextProjectDotsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T18:38:22</CreateDate>
    <NodeName Default="next-project-dot.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a2tnecv0/next-project-dot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>