<?xml version="1.0" encoding="utf-8"?>
<Media Key="900b0fcf-a123-4beb-82c7-d3511919a05d" Alias="Next-project.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NextProjectsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T18:59:29</CreateDate>
    <NodeName Default="Next-project.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hwzks2ry/next-project.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>