<?xml version="1.0" encoding="utf-8"?>
<Media Key="2da5fc47-66d0-4ac8-b87c-d2ff9b55a599" Alias="next-project-img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/nextProjectImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T18:38:22</CreateDate>
    <NodeName Default="next-project-img.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wvabpt4l/next-project-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>