<?xml version="1.0" encoding="utf-8"?>
<Media Key="43a0420b-2e84-4d5e-99b0-02896c94a6b1" Alias="Rating.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ratingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T11:35:05</CreateDate>
    <NodeName Default="Rating.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5h5bfim5/rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>