<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e39da23-6943-4ae7-b452-1005674589df" Alias="Risk.svg" Level="2">
  <Info>
    <Parent Key="a78c9fc6-c015-4b19-a6b9-94b236d4a88d">Details</Parent>
    <Path>/Details/Risksvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:27:47</CreateDate>
    <NodeName Default="Risk.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0ftjx5cy/risk.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>