<?xml version="1.0" encoding="utf-8"?>
<Media Key="9416db9d-68cf-455f-8eca-410c3b1f52bd" Alias="Signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T15:09:02</CreateDate>
    <NodeName Default="Signature.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n3tli3wu/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>