<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcf06fb1-84eb-4c2e-95ca-f34183944347" Alias="Statistic.svg" Level="2">
  <Info>
    <Parent Key="a78c9fc6-c015-4b19-a6b9-94b236d4a88d">Details</Parent>
    <Path>/Details/Statisticsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:27:46</CreateDate>
    <NodeName Default="Statistic.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ipjfehxq/statistic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>