<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b3bb03d-ffc1-4f6d-b9fc-cfac8acfe36a" Alias="sucess-story.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/sucessStorysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T15:09:02</CreateDate>
    <NodeName Default="sucess-story.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z2gjtko0/sucess-story.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>