<?xml version="1.0" encoding="utf-8"?>
<Media Key="fbb2c14a-66ff-41cd-873d-917f13918c32" Alias="Tax.svg" Level="2">
  <Info>
    <Parent Key="a78c9fc6-c015-4b19-a6b9-94b236d4a88d">Details</Parent>
    <Path>/Details/Taxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:27:46</CreateDate>
    <NodeName Default="Tax.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xb4bagpe/tax.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>