<?xml version="1.0" encoding="utf-8"?>
<Media Key="5459166f-93db-48ab-a7e7-f9339de322bf" Alias="Tina-fox-founder-section.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaFoxFounderSectionsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T13:07:41</CreateDate>
    <NodeName Default="Tina-fox-founder-section.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/twvpxnwa/tina-fox-founder-section.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>