<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3253cfa-9919-4b85-beef-ec5a00e4fa69" Alias="Triangle.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Trianglesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T18:52:08</CreateDate>
    <NodeName Default="Triangle.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bcajoiic/triangle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>