<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9c8233f-a32f-467a-bf63-a6b0d4e1d6ff" Alias="Trusted.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Trustedsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T15:09:02</CreateDate>
    <NodeName Default="Trusted.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zwpgukzu/trusted.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>