<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ca1481f-9118-437a-9454-4d8e1a151e28" Alias="2025-11-04 16:52 - test" Level="2">
  <Info>
    <Parent Key="a4d0b697-a559-4af3-b39c-998e498358d8">Form Submissions</Parent>
    <Path>/FormSubmissions/test</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-04T16:52:07</CreateDate>
    <NodeName Default="2025-11-04 16:52 - test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[1234567890]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>