<?xml version="1.0" encoding="utf-8"?>
<Content Key="cfc665d7-6ab3-488b-826a-815606d60379" Alias="2025-11-12 14:10 - Test2" Level="2">
  <Info>
    <Parent Key="a4d0b697-a559-4af3-b39c-998e498358d8">Form Submissions</Parent>
    <Path>/FormSubmissions/Test2</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T14:10:05</CreateDate>
    <NodeName Default="2025-11-12 14:10 - Test2" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test2@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Test2]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business Development]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[1234567890]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>