<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d64304b-6580-477d-8020-fca3c0a5f341" Alias="2025-11-04 16:42 - Alexander" Level="2">
  <Info>
    <Parent Key="a4d0b697-a559-4af3-b39c-998e498358d8">Form Submissions</Parent>
    <Path>/FormSubmissions/Alexander</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-04T16:42:21</CreateDate>
    <NodeName Default="2025-11-04 16:42 - Alexander" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Alexander@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Alexander]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial Consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0700110010]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>