<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2f825d7-980e-4bef-a615-cd1152a9e4ec" Alias="Contact" Level="2">
  <Info>
    <Parent Key="68e86ccf-6e3e-4bfb-a9a9-1101f53ef72f">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-27T14:42:12</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fe197a42-5022-4502-808a-c97511e099e1">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b53db9d3-097d-4bb8-8d76-935462865a29",
      "key": "aefb464a-0cf5-41ac-89f9-e5600089fbfa",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3711df5b-ce29-4d5f-b2bd-8496a2699d15",
              "mediaKey": "900b0fcf-a123-4beb-82c7-d3511919a05d",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactOfficeLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactOfficeAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "contactPhoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "contactEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "contactEmailAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        }
      ]
    },
    {
      "contentTypeKey": "5616dfd5-a1a1-428b-b2eb-2695e3820035",
      "key": "2dab43a7-e28d-4258-a724-97f1e758de78",
      "udi": null,
      "values": [
        {
          "alias": "contactMapImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4fd5a514-9a62-4831-9622-3d6b46665c6b",
              "mediaKey": "7527b312-7df2-4505-895d-307067ce6022",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactMapLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "contactMapTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your\u003Cbr\u003Enext project"
        },
        {
          "alias": "contactMapBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-regular\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cem\u003E\u003Cspan class=\u0022text-body-text\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-xs font-regular\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cem\u003E\u003Cspan class=\u0022text-body-text\u0022\u003E consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "4e4b1572-9732-48c9-86dc-b69874af80a0",
      "key": "0ada9f51-dcd9-41d7-8f8a-86e3f83341a8",
      "udi": null,
      "values": [
        {
          "alias": "brandBox",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "dc103596-8e4f-4240-b93d-4015607d8510",
                "key": "3fb2cc3c-cc27-4b3a-8314-66ee348d5b8d",
                "udi": null,
                "values": [
                  {
                    "alias": "brandLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a78634ac-7b88-4b7c-b63b-1f851f13f0fc",
                        "mediaKey": "e5ec12c9-0158-4b2e-b554-2df151b93b36",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "dc103596-8e4f-4240-b93d-4015607d8510",
                "key": "49842820-9982-4428-84bd-c9adb3d8d8c8",
                "udi": null,
                "values": [
                  {
                    "alias": "brandLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "fb73e395-0dfb-4ea2-b583-6aaf6aa0bcd2",
                        "mediaKey": "9937f839-3e73-4588-93d9-b1f5a6320d4d",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "dc103596-8e4f-4240-b93d-4015607d8510",
                "key": "06aa6489-c431-43e1-8b3f-d2520436bbea",
                "udi": null,
                "values": [
                  {
                    "alias": "brandLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "4575a280-1d8d-471d-9406-ca3c4da94eb2",
                        "mediaKey": "79bdf638-efc9-4223-983c-87049c4b8d95",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "dc103596-8e4f-4240-b93d-4015607d8510",
                "key": "2b674bde-abb2-490e-9b59-b78b2219ff83",
                "udi": null,
                "values": [
                  {
                    "alias": "brandLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "14dd441f-dd7c-4185-a5b8-a6bb7304fd84",
                        "mediaKey": "9a48d4d6-344f-42b1-9078-e390d356cf21",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "dc103596-8e4f-4240-b93d-4015607d8510",
                "key": "75ea05f8-ad30-4cc7-9286-b1b348d0948f",
                "udi": null,
                "values": [
                  {
                    "alias": "brandLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1fdf7f6f-6466-407c-85ab-48740cbb9fa2",
                        "mediaKey": "13874d23-112a-4aa4-96f5-296301e92997",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "dc103596-8e4f-4240-b93d-4015607d8510",
                "key": "da9a4825-4810-459a-9c71-df921e3346a5",
                "udi": null,
                "values": [
                  {
                    "alias": "brandLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "125bdb90-5552-41ab-9378-faa5198ad065",
                        "mediaKey": "caf75ce7-6e6a-48f3-a583-27cf09f5fb00",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "3fb2cc3c-cc27-4b3a-8314-66ee348d5b8d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "49842820-9982-4428-84bd-c9adb3d8d8c8",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "06aa6489-c431-43e1-8b3f-d2520436bbea",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2b674bde-abb2-490e-9b59-b78b2219ff83",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "75ea05f8-ad30-4cc7-9286-b1b348d0948f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "da9a4825-4810-459a-9c71-df921e3346a5",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "3fb2cc3c-cc27-4b3a-8314-66ee348d5b8d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "49842820-9982-4428-84bd-c9adb3d8d8c8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "06aa6489-c431-43e1-8b3f-d2520436bbea",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2b674bde-abb2-490e-9b59-b78b2219ff83",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "75ea05f8-ad30-4cc7-9286-b1b348d0948f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "da9a4825-4810-459a-9c71-df921e3346a5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "21582aa2-481d-44d9-b818-0bae0477e472",
      "key": "fd7ccbe6-b3e6-4c85-bdab-044b7c0383e8",
      "udi": null,
      "values": [
        {
          "alias": "contactBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "8b050a0a-4499-4b0f-81b4-088e88b76683",
      "key": "a326a176-e931-4d7c-90e2-c8a9b09eeabb",
      "udi": null,
      "values": [
        {
          "alias": "callbackRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Financial Consulting\nBusiness Development\nTax Planning"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "aefb464a-0cf5-41ac-89f9-e5600089fbfa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2dab43a7-e28d-4258-a724-97f1e758de78",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0ada9f51-dcd9-41d7-8f8a-86e3f83341a8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "aefb464a-0cf5-41ac-89f9-e5600089fbfa",
        "contentUdi": null,
        "settingsKey": "fd7ccbe6-b3e6-4c85-bdab-044b7c0383e8",
        "settingsUdi": null
      },
      {
        "contentKey": "2dab43a7-e28d-4258-a724-97f1e758de78",
        "contentUdi": null,
        "settingsKey": "a326a176-e931-4d7c-90e2-c8a9b09eeabb",
        "settingsUdi": null
      },
      {
        "contentKey": "0ada9f51-dcd9-41d7-8f8a-86e3f83341a8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>