<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ad311ff-aabc-4859-89ae-90a02353f0a6" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="1c4996f0-077f-42e7-9d20-ef61352ec303">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-30T13:29:46</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ac0d93a-3705-446f-86bf-9b27427ada81">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "89ea0bf7-583d-4103-a5c9-3d2e85d88956",
      "key": "af570dbf-bd11-41c2-8456-ff87773eaf08",
      "udi": null,
      "values": [
        {
          "alias": "questionSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Have a question?"
        },
        {
          "alias": "questionBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "bg-neutral"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b53db9d3-097d-4bb8-8d76-935462865a29",
      "key": "0d4d9050-4b5e-4853-ad8f-9b86bc038191",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3711df5b-ce29-4d5f-b2bd-8496a2699d15",
              "mediaKey": "900b0fcf-a123-4beb-82c7-d3511919a05d",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactOfficeLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactOfficeAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "contactPhoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "contactEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "contactEmailAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "21582aa2-481d-44d9-b818-0bae0477e472",
      "key": "a3bc9c7b-b889-41d4-b6ba-bf8c6151ad90",
      "udi": null,
      "values": [
        {
          "alias": "contactBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "af570dbf-bd11-41c2-8456-ff87773eaf08",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0d4d9050-4b5e-4853-ad8f-9b86bc038191",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "af570dbf-bd11-41c2-8456-ff87773eaf08",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "0d4d9050-4b5e-4853-ad8f-9b86bc038191",
        "contentUdi": null,
        "settingsKey": "a3bc9c7b-b889-41d4-b6ba-bf8c6151ad90",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "43f27a06-b4fb-46bd-913a-5896e1215389",
    "mediaKey": "0a652fe2-ffb1-4bf3-92c7-31d0c970411a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>