<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c4996f0-077f-42e7-9d20-ef61352ec303" Alias="Services" Level="2">
  <Info>
    <Parent Key="68e86ccf-6e3e-4bfb-a9a9-1101f53ef72f">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-28T13:13:51</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a72e7b8e-7fac-4067-8cb5-e6b87cff0767">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "055f6c9f-3f18-447a-bea0-25c3f1a176e5",
      "key": "5e7825e7-e333-4e10-adee-3a5b845e8e10",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "b53db9d3-097d-4bb8-8d76-935462865a29",
      "key": "55a1f196-95a6-420b-afb1-a1c04cb0f641",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3711df5b-ce29-4d5f-b2bd-8496a2699d15",
              "mediaKey": "900b0fcf-a123-4beb-82c7-d3511919a05d",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactOfficeLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactOfficeAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "contactPhoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "contactEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "contactEmailAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a29e2091-0bff-4822-977e-84cd9cce81eb",
      "key": "91145398-7214-424c-9c8b-4d8042ecd47d",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "21582aa2-481d-44d9-b818-0bae0477e472",
      "key": "d47d9c1d-7995-43e2-9024-5ffa61d48741",
      "udi": null,
      "values": [
        {
          "alias": "contactBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "5e7825e7-e333-4e10-adee-3a5b845e8e10",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "55a1f196-95a6-420b-afb1-a1c04cb0f641",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5e7825e7-e333-4e10-adee-3a5b845e8e10",
        "contentUdi": null,
        "settingsKey": "91145398-7214-424c-9c8b-4d8042ecd47d",
        "settingsUdi": null
      },
      {
        "contentKey": "55a1f196-95a6-420b-afb1-a1c04cb0f641",
        "contentUdi": null,
        "settingsKey": "d47d9c1d-7995-43e2-9024-5ffa61d48741",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>