<?xml version="1.0" encoding="utf-8"?>
<Content Key="b365fcbf-e73b-46d6-9b71-1ca8c27e3dc0" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="1c4996f0-077f-42e7-9d20-ef61352ec303">Services</Parent>
    <Path>/Onatrix/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-30T13:29:01</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ac0d93a-3705-446f-86bf-9b27427ada81">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "89ea0bf7-583d-4103-a5c9-3d2e85d88956",
      "key": "66dea01d-b0ca-40f0-aeeb-8b775eaaa58f",
      "udi": null,
      "values": [
        {
          "alias": "questionSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Have a question?"
        },
        {
          "alias": "questionBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "bg-neutral"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b53db9d3-097d-4bb8-8d76-935462865a29",
      "key": "322be4a6-ac3f-4f2c-967f-cb90beaad79d",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3711df5b-ce29-4d5f-b2bd-8496a2699d15",
              "mediaKey": "900b0fcf-a123-4beb-82c7-d3511919a05d",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactOfficeLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactOfficeAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "contactPhoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "contactEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "contactEmailAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "21582aa2-481d-44d9-b818-0bae0477e472",
      "key": "57fda6db-f9be-486c-95f1-e1988c4e4de4",
      "udi": null,
      "values": [
        {
          "alias": "contactBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "66dea01d-b0ca-40f0-aeeb-8b775eaaa58f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "322be4a6-ac3f-4f2c-967f-cb90beaad79d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "66dea01d-b0ca-40f0-aeeb-8b775eaaa58f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "322be4a6-ac3f-4f2c-967f-cb90beaad79d",
        "contentUdi": null,
        "settingsKey": "57fda6db-f9be-486c-95f1-e1988c4e4de4",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "a8a97975-ea17-4a55-90a2-20e4b8e0f26d",
    "mediaKey": "fcf06fb1-84eb-4c2e-95ca-f34183944347",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>