<?xml version="1.0" encoding="utf-8"?>
<Content Key="c4009434-5422-43e9-ae7b-52ca75056d3a" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="1c4996f0-077f-42e7-9d20-ef61352ec303">Services</Parent>
    <Path>/Onatrix/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-30T13:30:13</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ac0d93a-3705-446f-86bf-9b27427ada81">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "89ea0bf7-583d-4103-a5c9-3d2e85d88956",
      "key": "ab3f0151-2fb9-48b1-ae57-f40b9a7e2688",
      "udi": null,
      "values": [
        {
          "alias": "questionSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Have a question?"
        },
        {
          "alias": "questionBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "bg-neutral"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b53db9d3-097d-4bb8-8d76-935462865a29",
      "key": "fe48fd17-dd25-42a5-83e6-3e348c2bf739",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3711df5b-ce29-4d5f-b2bd-8496a2699d15",
              "mediaKey": "900b0fcf-a123-4beb-82c7-d3511919a05d",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactOfficeLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactOfficeAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "contactPhoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "contactEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "contactEmailAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "21582aa2-481d-44d9-b818-0bae0477e472",
      "key": "beb1b76e-cefe-4bd6-96ca-3855876e7dcb",
      "udi": null,
      "values": [
        {
          "alias": "contactBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ab3f0151-2fb9-48b1-ae57-f40b9a7e2688",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fe48fd17-dd25-42a5-83e6-3e348c2bf739",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ab3f0151-2fb9-48b1-ae57-f40b9a7e2688",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "fe48fd17-dd25-42a5-83e6-3e348c2bf739",
        "contentUdi": null,
        "settingsKey": "beb1b76e-cefe-4bd6-96ca-3855876e7dcb",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "bad32e4c-def1-47a3-ac6b-82a417f109d2",
    "mediaKey": "fbb2c14a-66ff-41cd-873d-917f13918c32",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>