@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using UmbracoCMS.ViewModels

@{
    var content = (ContentModels.ContactMapSection)Model.Content;
    var settings = Model.Settings as ContentModels.ContactMapSettings;
    var formVM = new CallbackFormViewModel()
    {      
        Options = settings?.CallbackRequestOptions ?? []
    };
}

<section class="relative w-full min-h-[850px] 3xl:min-h[1000px] flex items-center justify-center overflow-visible">
    <div class="absolute inset-0">
        <img src="@content.ContactMapImage?.Url()" alt="Map background" class="w-full h-full object-cover object-center" />

        <div class="absolute bottom-0 left-0 w-full h-[10%] bg-neutral z-10"></div>

    </div>

    <div class="relative z-20 bg-neutral shadow-[0_10px_40px_rgba(0,0,0,0.1)] rounded-md max-w-5xl w-full mx-auto px-8 md:px-16 py-12 md:py-16 translate-y-[8rem]">
        <p class="uppercase text-sm text-center font-bold text-secondary mb-2">@content.ContactMapLabel</p>
        <h2 class="text-[2rem] md:text-[2.5rem] font-bold text-center text-primary leading-tight mb-4">@Html.Raw(content.ContactMapTitle)</h2>

        <div class="rte text-center mb-10">
            @Html.Raw(content.ContactMapBody)
        </div>

        @await Html.PartialAsync("Partials/Forms/_ContactMapForm", formVM)
    </div>
</section>


