<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ab4184d2-f670-4a1b-9783-1100b156c221" Alias="Brands Section -  - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Brands Section -  - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "dc103596-8e4f-4240-b93d-4015607d8510"
    }
  ]
}]]></Config>
</DataType>