<?xml version="1.0" encoding="utf-8"?>
<DataType Key="00ca934c-58c0-4bf5-9649-4e4777df5976" Alias="Info Card - info Background Color - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>Info Card - info Background Color - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "bg-white",
    "bg-primary",
    "bg-secondary",
    "bg-neutral"
  ]
}]]></Config>
</DataType>