<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a579b7af-b55a-4f27-af42-721e85a57ca2" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "93b531a0-e535-476c-8381-0fa1b68623e4"
    },
    {
      "contentElementTypeKey": "055f6c9f-3f18-447a-bea0-25c3f1a176e5",
      "settingsElementTypeKey": "a29e2091-0bff-4822-977e-84cd9cce81eb"
    },
    {
      "contentElementTypeKey": "70bd6019-1a82-4da7-b80e-1432d1d2ee40"
    },
    {
      "contentElementTypeKey": "39d092c8-d24e-489c-8b84-0d8849bdd58d",
      "settingsElementTypeKey": "251fa6d6-4247-4715-8d2b-54563e19354d"
    },
    {
      "contentElementTypeKey": "1f803c22-07b2-4237-baa6-af48c29ff342"
    },
    {
      "contentElementTypeKey": "03cb29b9-4052-43d6-b7df-aee091d65a9f"
    },
    {
      "contentElementTypeKey": "4e4b1572-9732-48c9-86dc-b69874af80a0"
    },
    {
      "contentElementTypeKey": "b53db9d3-097d-4bb8-8d76-935462865a29",
      "settingsElementTypeKey": "21582aa2-481d-44d9-b818-0bae0477e472"
    },
    {
      "contentElementTypeKey": "89ea0bf7-583d-4103-a5c9-3d2e85d88956"
    },
    {
      "contentElementTypeKey": "521a3f68-3592-465a-95e6-479605f953ef"
    },
    {
      "contentElementTypeKey": "7f90705b-a2d0-459a-b76a-30beb286fabd"
    },
    {
      "contentElementTypeKey": "5616dfd5-a1a1-428b-b2eb-2695e3820035",
      "settingsElementTypeKey": "8b050a0a-4499-4b0f-81b4-088e88b76683"
    }
  ]
}]]></Config>
</DataType>