<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e8fb2303-2deb-44e4-bd40-bcbcc137109b" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "57180b08-b87f-483d-bab6-809fab6f0857"
    }
  ]
}]]></Config>
</DataType>