<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d6d675f0-813a-40eb-a7e4-c5003b5cf989" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "51d54759-7e13-44b1-8a21-757879c4d214",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>