<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2109e34b-f8eb-4c68-9fd5-907b400545b6" Alias="Stats Section - StatsItem - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Stats Section - StatsItem - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fc014342-e5e7-4c92-bc9a-675c425a579c"
    }
  ]
}]]></Config>
</DataType>