<?xml version="1.0" encoding="utf-8"?>
<DataType Key="93f796e8-3ca2-4f4e-87cd-b05d57899f58" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e5053401-e0d1-4928-bf8c-c2cecf20ed32",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>