<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bc017071-be93-4d23-bc20-350c85e32cf6" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a93f3b4a-0858-455d-b4f3-c104d872386f">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f4d43eb8-9cfa-435d-be2f-dc784a2d4ef9" SortOrder="0">contactPage</ContentType>
    <ContentType Key="99e70d0e-16f9-4fde-9ecc-1c4fd352aca7" SortOrder="1">servicePage</ContentType>
    <ContentType Key="8d505fa4-d79d-4058-aac8-72ad5ea09918" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>325f451e-61be-47a2-beba-18eddb2110f3</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>a579b7af-b55a-4f27-af42-721e85a57ca2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>29903a6f-7557-47e1-982c-e7d0a5e9f6ef</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>