<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5d78449e-f97c-4b9e-bc1e-fda3cd1fa262" Alias="serviceDetail" Level="2">
  <Info>
    <Name>Service Detail</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Collections</Folder>
    <Compositions>
      <Composition Key="61c84d9e-4a96-4443-8552-98fa4572f394">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>ServiceDetail</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9ac0d93a-3705-446f-86bf-9b27427ada81">ServiceDetail</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>225b331b-23e0-4e2b-b50b-25470cd575b5</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>a579b7af-b55a-4f27-af42-721e85a57ca2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sections">Sections</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9612d62b-59c8-48da-9211-e33a3ea9a9f0</Key>
      <Name>Widgets</Name>
      <Alias>serviceDetailAsides</Alias>
      <Definition>e8fb2303-2deb-44e4-bd40-bcbcc137109b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="aside">Aside</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>28651c91-3a71-4dc9-8eb0-0987aa5b1af4</Key>
      <Name>Body</Name>
      <Alias>serviceDetailBody</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>51760504-925a-4ae4-bc0a-61f03a2b874a</Key>
      <Name>Excerpt</Name>
      <Alias>serviceDetailExcerpt</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b12b9c72-8989-4522-ba80-f587f143997b</Key>
      <Name>Thumbnail</Name>
      <Alias>serviceDetailThumbnail</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>03d9fbe4-6531-4ce1-99e8-703f651b87c4</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>221020bd-9fa9-4176-b20b-36e1bc18616e</Key>
      <Caption>Aside</Caption>
      <Alias>aside</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>aaf21cbc-88f4-4cef-b04a-074d32175875</Key>
      <Caption>Sections</Caption>
      <Alias>sections</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>